/* All base coding for each page */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

.navbar {
  overflow: hidden;
  background-color: #31cacf;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 300;
  padding-bottom: 10px;
}

.navbar li {
  display: inline-block;
  color: #000000;
  padding: 15px 18px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  height: 15px;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
}

a:link {
  color: black;
}

a:visited {
  color: white;
}

a:hover {
  color: #f90981
}

.center {
  border: #f90981;
  border-style: solid;
  border-radius: 10px;
  margin-top: 10px;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 300px;
}

footer {
  overflow: hidden;
  background-color: #31cacf;
  position: relative;
  height: 150px;
  top: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerlinks {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-left: 300px;
  margin-bottom: 50px;
  max-width: 40%;
}

.footeraddress {
  position: relative;
}

.address {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  text-align: right;
  position: relative;
  max-width: 40%;
  float: right;
}

.bottom {
  position: relative;
  margin-left: 50px;
  margin-top: 30px;
}

p {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 25px;
}

/* Home Page CSS styling */

.intro-image {
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 75%;
  display: block;
  padding-bottom: 30px;
}

h1 {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 5px 50px 0px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

h2 {
  float: right;
  text-align: center;
  font-size: 35px;
  background-color: #f6b5d5;
  margin: 10 px;
  padding: 25px;
  margin: 40px 50px 75px;
  border: #31cacf;
  border-style: solid;
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* About Page CSS Styling */
.about-image1 {
  border: black;
  border-style: solid;
  margin-left: 80px;
}

.about-image2 {
  border: black;
  border-style: solid;
  margin-left: 80px;
}

.column1 {
  position: relative;
  float: right;
}

.left-column, .right-column {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 50px;
}

.column2 {
  position: relative;
  float: left;
}

.about1 {
  color: #f90981;
  text-align: center;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  background-color: #ffffff;
  float: none;
  margin: 0;
  background-color: #f6b5d5;
}

.about2 {
  color: #f90981;
  text-align: center;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  background-color: #ffffff;
  float: none;
  margin: 0;
  padding: 0;
  background-color: #f6b5d5;
  border-radius: 7px;
}

/* Registration Page CSS Styling */
.register {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 0px 30px 0px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.schedule {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 0px 30px 0px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.policies {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 0px 30px 0px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

.dates {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 0px 30px 0px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 10px;
}

/* Recital page CSS Styling */
.recital-images {
  width: 32%;
  display: inline-block;
  border: black;
  border-style: solid;
  border-width: thick;
}

.rehearsal {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 10px 50px 10px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.recital {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 10px 50px 10px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.costumes {
  color: #f90981;
  text-align: center;
  background-color: #f6b5d5;
  margin: 10px 50px 10px;
  border: #31cacf;
  border-radius: 7px;
  border-style: solid;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* Performance Company Page CSS Styling */
.aboutpc {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin: 10px 25px 10px;
  float: left;
  width: 50%;
}

.pchandbook {
  margin: 30px;
  float: left;
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: 100px;
  color: #f90981;
}

.pcauditions {
  float: left;
  position: relative;
  text-align: center;
  background: #f6b5d5;
}

.auditionheader {
  float: left;
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 15px
}

.auditions {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px
}

.auditionssub {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px
}

.container {
  float: right;
  position: relative;
  width: 35%;
}

.pc1 {
  margin: 10px 40px 20px;
  border: solid 10px;
}

.pc2 {
  margin: 10px 40px 20px;
  border: solid 10px;
}

.pc3 {
  margin: 10px 40px 20px;
  border: solid 10px;
}

/* Summer Camp Page CSS Styling */
.leftsummertop, .leftsummerbottom {
  width: 49%;
  display: inline-block;
  position: relative;
  float: left;
}

.rightsummertop, .rightsummerbottom {
  width: 49%;
  display: inline-block;
  position: relative;
  float: right;
}

.summercampheading {
  font-family: spumante, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f90981;
  margin: 20px 40px 20px;
  font-size: 35px;
}

.campinfo {
  font-family: pt-sans-pro-narrow, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
}

.campclasses {
  margin: 2px;
  margin-left: 50px;
  margin-bottom: 10px;
}
